DJANGO_SECRET_KEY=REpBTkdPX1NFQ1JFVF9LRVk=

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=dev-main
DB_USER=xxxxxxxx
DB_PASSWORD=xxxxxxxxxx

AWS_ACCESS_KEY_ID=xxxxxxxxxxxxx
AWS_SECRET_ACCESS_KEY=xxxxxxx/38ONLWmHm+xxxxxxxxxxxxxxx
AWS_SES_REGION_NAME=us-west-2
AWS_SES_REGION_ENDPOINT=email.us-west-2.amazonaws.com

EMAIL_FROM_ADDRESS=hello@xxxxx.com
EMAIL_HOST_USER=xxxxxxxxxxxxxxxx
EMAIL_HOST_PASSWORD=xxxxxxxxxxx+KB7hySjIW
